*{
    color:cadetblue;
font-family: 'Estonia', cursive;
}

{display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
}
a{color: black;
font-size: 30px;
padding: 4px;}
nav{
    background-color: black;
}